{# src/OC/PlatformBundle/Resources/views/Advert/edit.html.twig #}


<button id="majPremier">Mise à jour première zone</button>

<div id="premier">
</div>


<script src="{{asset('jquery.js')}}"></script>
<script>
    $('#majPremier').click(function () {
//                $('#premier').load('maj1.html', function () {
        $('#premier').load('edit/14', function () {
        });
    });

</script>
