{# src/OC/PlatformBundle/Resources/views/Advert/delete.html.twig #}

<table>
    <thead>
        <tr>
            <th> </th>
        </tr>
    </thead>
    <tbody>
        {% for bla in bla %}
        <tr>
            <td></td>
        </tr>
    </tbody>
</table>